* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {

    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
    font-weight: 400;

}

.text-center {
  text-align: center;
}

.page-enter-active, .page-leave-active  {
  transition: opacity .15s;
}

.page-enter, .page-leave-active {
  opacity: 0;
}

.page-wrap {
	max-width: 600px;
}

.mb {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.mt {
  margin-top: 1rem;
}

.mr2 {
	margin-right: 2rem;
}